{{#ui-block/form changeset=model.changeset as |form|}}
  {{#form.row as |row|}}
    {{row.value title='Name' property='name'}}
  {{/form.row}}
  {{#form.row as |row|}}
    {{row.value title='Local path' property='source' class='small'}}
  {{/form.row}}
  {{#form.row as |row|}}
    {{row.value title='Remote location' property='target' class='small'}}
  {{/form.row}}
  {{#form.row as |row|}}
    {{#row.value title='Exclude' property='exclude' class='small' as |value|}}
      {{#each (split value ',') as |item|}}
        <div>{{item}}</div>
      {{/each}}
    {{/row.value}}
  {{/form.row}}
  {{#form.row as |row|}}
    {{#row.value title='Watch file changes' property='watch' as |watch|}}
      {{#if watch}}
        Yes
      {{else}}
        No
      {{/if}}
    {{/row.value}}
  {{/form.row}}
  {{#form.row as |row|}}
    {{#row.value title='Group' property='group' as |group|}}
      {{group.name}}
    {{/row.value}}
  {{/form.row}}
{{/ui-block/form}}
