<div class="content">
  <div class="name">{{project.name}}</div>
  <div class="status">
      {{#if syncer.isSyncing}}
        Syncing…
      {{else}}
        {{#if syncer.isWatching}}
          Watching…
        {{else}}
          Idle
        {{/if}}
      {{/if}}
  </div>
</div>
<div class="accessory">
  {{#if syncer.isSyncing}}
    {{ui-icon 'refresh' class='icon' spin=true}}
  {{else}}
    {{#if syncer.isWatching}}
    {{else}}
      {{ui-icon 'refresh' class='icon' action=(action 'sync')}}
    {{/if}}
  {{/if}}
</div>
