<div class="content">
  <div class="name">{{project.name}}</div>
  <div class="status">
      {{#if syncer.error}}
        {{syncer.error.message}}
      {{else if syncer.message}}
        {{syncer.message}}
      {{else if syncer.isWatching}}
        Watching…
      {{else}}
        Idle
      {{/if}}
  </div>
</div>
<div class="accessory">
  {{#if syncer.isSyncing}}
    {{ui-icon 'refresh' class='icon' spin=true}}
  {{else}}
    {{ui-icon 'refresh' class='icon optional' action=(action 'sync')}}
  {{/if}}
</div>
